body{
    background-color: #E6E6E6;
    color: #7B9669;
    padding: 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #7B9669;
    align-items: center;

    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    border-radius: 15px;
}

h1 {
    font-size: 100px;
}

.hero h1,
.hero p {
    margin: 0;
}


.hero {
    max-width: 60%;

    display: flex;
    flex-direction: column;
    gap: 10px 5px;

    margin-top: 50px;
    margin-bottom: 50px;
}

button{
    display: block;
    margin: auto;
}

button:hover{
    transform: scale(1.05);
    color: blue;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    background-color: #bac8b1;
    border-radius: 15px;

    padding: 1rem;
    min-height: 200px;
    box-shadow: 5px 5px;
}

.card:hover {
    background-color: #404e3b;
    color: white;
    box-shadow: none;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .hero{
        max-width: 80%;
    }

    .projects{
        grid-template-columns: auto;
    }


    h1{
        font-size: 80px;
    }
}